
<% include ../partials/header %>
<div class="container" id="showEJS">
		<div class="row">
		<div class="col-md-4 order-last order-md-first">
			<!--Review section-->
        <div class="card">
				<% if (campgrounds.rating === 0) { %>
                <div class="card-body">
                    
                    <h4 style="text-align: center">
                        <em>No reviews yet.</em>
                    </h4>
				
                    <% } else { %>
					<div class="card-body with-reviews">
                    <p style="text-align:left;">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (campgrounds.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campgrounds.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campgrounds.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campgrounds.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= campgrounds.reviews.length %>)</em>
                    </p>
                    <p>
                        <%= campgrounds.name %>  rating: <strong><%= campgrounds.rating.toFixed(2) %></strong>
                    </p>
							   <p style="margin-bottom: 0px;"><a href="/campgrounds/<%= campgrounds._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></p>

                    <h5>Latest reviews for <%= campgrounds.name %>:</h5>
                    <hr style="margin-top: 0;">
                    <% campgrounds.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-12">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
							<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
							<div class="review-buttons">
                            <a class="btn btn-sm btn-outline-warning" 
							   data-toggle="tooltip" 
							   data-placement="top" 
							   title="edit review"
                               href="/campgrounds/<%=campgrounds._id %>/reviews/<%=review._id %>/edit">
								<i class="fas fa-edit"></i>
							</a>
                            <form id="delete-form" action="/campgrounds/<%=campgrounds._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST"  data-toggle="tooltip" 
							   data-placement="top" 
							   title="delete review">
                               
								<button class="btn btn-sm btn-outline-danger">
									<i class="fas fa-trash-alt"></i>
								</button>
                            </form>
								</div>
                            <% } %>
                            <div>Review by: <a href="/profile/<%= review.author.id %>"><strong><%= review.author.username %></strong></a> </div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-12">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    

	                     
	                   
                    
                    
                    <div>
						
                    </div>
						<% } %>
                </div>
            </div>
			
			      <a class="btn btn-outline-primary btn-lg <% if (currentUser && campgrounds.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" style="width: 100%;" href="/campgrounds/<%= campgrounds._id %>/reviews/new">
                            <i class="fas fa-pen"></i> New Review</a>
			
			<div id="map"></div>
		</div>
		<div class="col-md-8">
		  <div class="card">
        	<img src="<%= campgrounds.image %>" class="card-img-top" alt="..." />
        	<div class="card-body" >
				<h5 class="float-right">$<%=campgrounds.price%>/night</h5>
          		<h4 class="card-title"><%= campgrounds.name %></h4>
		  		<p class="card-text"> <%= campgrounds.description %> </p>
				<p>
  <em>Submitted by: <a href="/profile/<%= campgrounds.author.id %>"><%= campgrounds.author.username %></a>, <%= moment(campgrounds.createdAt).fromNow() %></em>
</p>
				<% if(currentUser && campgrounds.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin ) { %>
				<div class="row">
					<a href="/campgrounds/<%= campgrounds._id %>/edit" class="btn btn-info">edit</a>
				<form  id="delForm" action="/campgrounds/<%= campgrounds._id %>?_method=DELETE" method="post">
					<button class="btn btn-danger">delete</button>
				</form>
				</div>
				<% } %>
         
        	</div>
          </div>
		  <div class="card" style="margin-top: 25px;">
			<div class="card-footer">
				<div id="commentBox" >
						<!--Comment section title-->
 					 <span id="commentTitle"><strong>Comments <span class="float-left" aria-hidden="true"></span></strong></span>
					<a class="btn btn-info float-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">new comment</a>
				</div>
				

					  <!--Collapse Add a comment form START-->
					  <div class="collapse" id="collapseComment">
						<div class="card" >
							<% if(!currentUser) { %>
						  <!--If the user is not logged in, direct him to the login page-->
						  <h5>You need to <a href="/login">login</a> before you can comment.</h5>
							<% } %>
							<% if(currentUser) { %>
						  <!--If the user is logged in, show the new comment form-->
						  <h4><i class="fas fa-pen"></i> Write your comment <%= currentUser.username %></h4>
						  <form id="add-comment-form" action="/campgrounds/<%= campgrounds._id %>/comments" method="POST">
							
							<div class="form-group">
							  <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
							</div>
							<div class="form-group">
							  <button class="btn btn-success btn-sm">Comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
							</div>
						  </form>
							<% } %>
						</div>
					  </div>
					  <!--Collapse Add a comment form END-->
					  <hr>

  <!--Check if there are comments, if there are none say no comments.-->
    <% if (campgrounds.comments.length === 0) { %>
  <em style="color: grey;">No comments yet.</em>
    <% } %>
	<!--Display comments by looping through them-->
				<% campgrounds.comments.forEach(function(comment) {%>
					<div class="row">
						<div class="col-12">
						<strong>
							<% if(currentUser && comment.author.id.equals(currentUser._id)  || currentUser && currentUser.isAdmin) { %>
							<i class="fas fa-user" style="color: orange;"></i> 
							<% } else {%>
							<i class="fas fa-user"></i>
							  <% } %>
							<%= comment.author.username %>	
						</strong>
							<!--Show when the comment was made-->
							<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
							
    						 <!--Printing the comment-->
							<p ><%=comment.text %> </p>
							 <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
							
							<% if(currentUser && comment.author.id.equals(currentUser._id)  || currentUser && currentUser.isAdmin) { %>
							<div id="commentButtons">
							<a role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>" class="btn  btn-sm btn-outline-info " data-toggle="tooltip" data-placement="top" title="Edit Comment"><i class="far fa-edit"> Edit</i></a>
							<form action="/campgrounds/<%= campgrounds._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST" ><button class="btn btn-sm btn-outline-danger " data-toggle="tooltip" data-placement="top" title="Delete Comment"><i class="fas fa-trash"></i> Delete</button></form>
							</div>
							 <!--Edit comment form-->
							  <div class="collapse" id="collapseEdit<%= comment._id %>">
								<div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
								  <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
								  <form id="edit-comment-form<%= comment._id %>" action="/campgrounds/<%= campgrounds._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
									<div class="form-group">
									  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
									</div>
									<div class="form-group">
									  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
									</div>
									<div class="form-group">
									  <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
									</div>
								  </form>
								</div>
							  </div>
							<% } %>
						</div>
					</div>
				<% }) %>
			</div>
		  </div>
		</div>
	</div>
</div>
<script>
  function initMap() {
    var lat = <%= campgrounds.lat %>;
    var lng = <%= campgrounds.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campgrounds.name %><br />
      <%= campgrounds.location %></strong>
      <p><%= campgrounds.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWGTsp7YKDdciqRVqKGliUCmDk_vHyLAg&callback=initMap"></script>
<% include ../partials/footer %>